.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'gilroyextrabold';
  font-size: 16px;
}

.main-header__nav {
  ul {
    list-style: none;
    display: flex;
    li {
      a {
        padding: 20px;
        text-decoration: none;
        color: #000;
        border: 2px #fff solid;
        &:focus {
          outline: 0;
          color: #fff;
          background-color: #000;
          border: 2px #000 solid;
        }
      }
    }
  }
}

.main-header__logo {
  padding: 20px;
  text-decoration: none;
  color: #000;
  font-size: 25px;
}
