body {
  padding: 0 15% 10rem 15%;
}

h1 {
  font-family: 'gilroyextrabold';
  font-size: 3rem;
  @include breakpoint(sm) {
    font-size: 6rem;
  }
  span {
    font-size: 0.5em;
    color: #585E65;
    display: block;
  }
}

p {
  max-width: 700px;
  margin: 2em auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  line-height: 1.6;
  @include breakpoint(sm) {
    font-size: 1.5rem;
  }
}

h2 {
  max-width: 700px;
  font-family: 'gilroyextrabold';
  font-size: 1.8rem;
  margin: 4rem auto;
  color: #3C3F48;
  @include breakpoint(sm) {
    font-size: 2.5rem;
  }
}

@font-face {
  font-family: 'gilroyextrabold';
  src: url('/fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
  url('/fonts/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


main {
  a {
    color: #44484C;
    text-decoration: underline;
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      outline: 0;
      background-color: #000;
      color: #fff;
      text-decoration: none;
    }
  }
}
