:root {
  --color-white: #fff;
  --color-purple: #4714BF;
  --color-purple-light: #F8F4FE;
  --color-pink: #DE185E;
  --color-gray-light: #F8E0E9;
  --color-gray: #2B2C34;
  

  --color-text: #2B2C34;
  --color-links: var(--color-purple);
  --color-background: var(--color-white);

  --font-serif: Georgia, 'Times New Roman', Times, serif;
  --font-display: 'Oswald', sans-serif;
}

body {
  background: var(--color-background);
  font-family: var(--font-serif);
  color: var(--color-text);
}

main {
  max-width: 50em;
  padding: 0 2em;
  margin: 0 auto;
}

a {
  color: var(--color-links);
  text-decoration: none;
  border-bottom: 1px dotted currentColor;
}

a:hover {
  border-bottom: 1px solid currentColor;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
  font-weight: 600;
  position: relative;
}

footer {
  text-align: center;
  padding: 5em 0;
}

[href*="://"]::after {
  content: "↗";
  font-family: sans-serif;
  font-size: 0.85em;
  display: inline-block;
  margin-left: 0.1em;
}