$mainColor: #1F1F1F;
$accentColor: #001FFF;
$mainFont: 'geomanistbold', 'arial black';

//// Breakpoints
// Usage : @include breakpoint(xs)
$breakpoints: (
	xs: 480px,
	sm: 768px,
	md: 1024px,
	lg: 1200px,
);

// Get breakpoint function
// Usage - @include breakpoint(xs) { ... }
@mixin breakpoint($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media (min-width: #{map-get($breakpoints, $breakpoint)}) {
			@content;
		}
	}
}
