<h2>Reach out</h2>
<p>
  If you want to reach out to discuss or just to say hi, your best bet is to
  <a href="mailto:h@huguestennier.com">email me</a>. Otherwise, I’m sometime
  lurking around Twitter
  <a
    href="https://twitter.com/huguestennier"
    aria-label="Twitter profile"
    target="_blank"
    rel="noopener"
    aria-describedby="a11y-new-window"
    >@huguestennier</a
  >.
</p>
<p>
  Sorry, but I’m currently <strong>not</strong> looking for a job as amazing as
  it probably is.
</p>
