<h2>Speaking</h2>

<p class="intro">
  In the last year, I have had the incredible luck to share my passion at multiple conferences of all sizes. I'm always on the lookout for new talking opportunities. You can reach me at <a href="mailto:h@huguestennier.com">h@huguestennier.com</a> and you can 👀 my <a href="https://noti.st/huguestennier" target="_blank" rel="noopener" aria-describedby="a11y-new-window">Notist profile</a> for more informations.
</p>

<h3>Upcoming talks</h3>
<ul class="ht-linkList">
  <li>
    <span class="ht-linkList__title">The Canadian
        Digital Service</span>
    <span class="ht-linkList__details">December 7th, 2018</span>
  </li>
</ul>
<h3>Past talks</h3>
<ul class="ht-linkList">
  <li>
    <a class="ht-linkList__title" href="http://dotcss.io">dotCSS</a>
    <span class="ht-linkList__details">November 8th, 2018</span>
    <span class="ht-linkList__links"><img src="/img/slidedeck.svg" role="presentation" alt="" /><a href="https://noti.st/huguestennier/09Ww5r/make-your-website-accessible-for-everyone" target="_blank" rel="noopener" aria-describedby="a11y-new-window">Slide deck</a></span>
  </li>
  <li>
    <a class="ht-linkList__title" href="https://2018.montreal.wordcamp.org/" target="_blank" rel="noopener" aria-describedby="a11y-new-window">WordCamp Montréal</a>
    <span class="ht-linkList__details">2018</span>
    <span class="ht-linkList__links"><img src="/img/slidedeck.svg" role="presentation" alt="" /><a href="https://noti.st/huguestennier/RrqA82/accessibilite-5-petites-victoires-a-appliquer-des-maintenant" target="_blank" rel="noopener" aria-describedby="a11y-new-window">Slide deck</a></span>
  </li>
  <li>
    <a class="ht-linkList__title" href="https://www.shopify.com" target="_blank" rel="noopener">Shopify RnD Summit</a>
    <span class="ht-linkList__details">2018</span>
    <span class="ht-linkList__links"><img src="/img/slidedeck.svg" role="presentation" alt="" /><a href="https://noti.st/huguestennier/gVHlsq/web-accessibility-start-with-empathy" target="_blank" rel="noopener" aria-describedby="a11y-new-window">Slide deck</a></span>
  </li>
  <li>
    <a class="ht-linkList__title" href="https://webaquebec.org/" target="_blank" rel="noopener" aria-describedby="a11y-new-window">Web à Québec</a>
    <span class="ht-linkList__details">2018</span>
    <span class="ht-linkList__links"><img src="/img/slidedeck.svg" role="presentation" alt="" /><a href="https://noti.st/huguestennier/RrqA82/accessibilite-5-petites-victoires-a-appliquer-des-maintenant" target="_blank" rel="noopener" aria-describedby="a11y-new-window">Slide deck</a></span>
  </li>
</ul>
