{{ define "main" -}}
<p>
  I have been working in the industry for 10 years. I started as a UI designer, became a teacher and co-founded a small digital
  studio. Eventually, I became a front-end developer and I'm now part of the Themes team at
  <a href="http://www.shopify.com" target="_blank" rel="noopener" aria-label="Shopify, opens in a new window">Shopify</a> in Montréal.
</p>

<h2>Recent posts</h2>
<ul class="ht-linkList">
  <li>
    <a href="https://dev.to/huguestennier/on-condescendence-ba7" target="_blank" rel="noopener">On Condescendence</a>
    <span class="ht-linkList__details">August 17, 2018</span>
  </li>
</ul>

<h2>Upcoming talks</h2>
<p>I'm always on the look for talk opportunities whether it's for UX, accessibility or modern CSS techniques. You can see my <a href="http://noti.st/huguestennier" target="_blank" rel="noopener">Notist profile</a> for more informations.</p>
<h2>Past talks</h2>
<ul class="ht-linkList">
  <li>
    Web accessibility is crucial: Five tips to get started now!<span class="ht-badge">FR</span>
    <span class="ht-linkList__details"><a href="https://2018.montreal.wordcamp.org/" target="_blank" rel="noopener">WordCamp Montréal</a> &mdash; 2018</span>
  </li>
  <li>
    Web accessibility: Start with empathy
    <span class="ht-linkList__details"><a href="https://www.shopify.com" target="_blank" rel="noopener">Shopify RnD Summit</a> &mdash; 2018</span>
  </li>
  <li>
    Web accessibility is crucial: Five tips to get started now!<span class="ht-badge">FR</span>
    <span class="ht-linkList__details"><a href="https://webaquebec.org/" target="_blank" rel="noopener">Web à Québec</a> &mdash; 2018</span>
  </li>
</ul>

<h2>Reach out</h2>
<p>If you want to reach out to discuss or just to say hi, your best bet is to
  <a href="mailto:h@huguestennier.com">email me</a>. Otherwise, I’m sometime lurking around Twitter
  <a href="https://twitter.com/huguestennier" aria-label="Go to twitter profile, opens in a new window" target="_blank" rel="noopener">@huguestennier</a>.
</p>
<p>Sorry, but I’m currently
  <strong>not</strong> looking for a job as amazing as it probably is.</p>


{{- end }}
