<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ if isset .Params "title" }}
    {{ .Title }} by Hugues Tennier
    {{else}}
    Hugues Tennier &mdash; front-end dev
    {{ end }}</title>
  <link rel="stylesheet" href="/css/theme.css">
</head>

<body class="ht-grid{{ if .Params.type }} ht-{{ .Params.type }}-template {{ end }}">

  <header>
    <h1>Hugues Tennier <br /><span>UX Dev</span></h1>
  </header>

  <main>
    {{ block "main" . -}}{{- end }}
  </main>

  <footer>
    <p>&copy; 2018 &mdash; Built using <a href="https://github.com/huguestennier/hugues" target="_blank" rel="noopener">Hugues</a>
      and hosted on <a href="#">Netlify</a>.</p>
  </footer>

  <!--     <script src="/js/app.js"></script> -->

</body>

</html>
