{{ define "main" -}}
<h1>Web à Quebec 2018</h1>
<p>Depuis dix ans, Hugues a occupé différents postes dans le domaine du web en tant que directeur artistique, chargé de cours
  ainsi que cofondateur d’une petite agence de publicité. Il occupe maintenant le poste de développeur front-end chez Shopify
  où il se concentre sur l’expérience utilisateur, l’accessibilité et les techniques de CSS modernes.</p>
<div class="img"></div>
<h2>Feedback</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, reiciendis expedita suscipit fuga mollitia voluptatem molestias
  ut, tempore non sint sed exercitationem dolor soluta dignissimos omnis eligendi quisquam pariatur. Totam!</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nisi provident dolorem minus hic. Quae eveniet itaque ut
  neque praesentium quo quibusdam fugiat explicabo numquam ipsa? Quia quae possimus dolor?</p>
{{- end }}
