<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hugues Tennier | Front-end developer</title>
  <link rel="stylesheet" href="./css/theme.css">
</head>

<body>

  <header class="main-header">
    <a href="/">h</a>
    <nav class="header-nav">
      <ul>
        <li>
          <a href="/">About</a>
        </li>
        <li>
          <a href="/">Speaking</a>
        </li>
        <li>
          <a href="/">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Accessibility is crucial : get started now!</h1>
    <p>Depuis dix ans, Hugues a occupé différents postes dans le domaine du web en tant que directeur artistique, chargé de
      cours ainsi que cofondateur d’une petite agence de publicité. Il occupe maintenant le poste de développeur front-end
      chez Shopify où il se concentre sur l’expérience utilisateur, l’accessibilité et les techniques de CSS modernes..</p>
    <h2>Somewhat smaller subtitle</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, reiciendis expedita suscipit fuga mollitia voluptatem molestias
      ut, tempore non sint sed exercitationem dolor soluta dignissimos omnis eligendi quisquam pariatur. Totam!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nisi provident dolorem minus hic. Quae eveniet itaque
      ut neque praesentium quo quibusdam fugiat explicabo numquam ipsa? Quia quae possimus dolor?</p>
  </main>
</body>

</html>
