{{ define "main" -}}
<h1>Hugues Tennier
  <br>front-end dev
</h1>
<p>
  I have been working in the industry for 10 years. I started as a UI designer, became a teacher and co-founded a small digital
  studio. Eventually, I became a front-end developer and I'm now part of the Themes team at
  <a href="http://www.shopify.com" target="_blank" rel="noopener" aria-label="Shopify, opens in a new window">Shopify</a> in Montréal.
</p>
<h2>Upcoming talks</h2>
<p>I'm always on the look for talk opportunities whether it's for UX, accessibility or modern CSS techniques. <a href="mailto:h@huguestennier.com">Hit me up!</a></p>
<h2>Past talks</h2>
<ul>
  <li>
    <i>Web Accessibility is crucial: Five tips to get started now!</i>
    <br>
    <a href="https://2018.montreal.wordcamp.org/" target="_blank" rel="noopener">WordCamp Montréal</a> &mdash; 2018
  </li>
  <li>
    <i>Web Accessibility: Start with empathy</i>
    <br>
    <a href="https://www.shopify.com" target="_blank" rel="noopener">Shopify RnD Summit</a> &mdash; 2018
  </li>
  <li>
    <i>Web Accessibility is crucial: Five tips to get started now!</i>
    <br>
    <a href="https://webaquebec.org/" target="_blank" rel="noopener">Web à Québec</a> &mdash; 2018
  </li>
</ul>
<h2>Reach out</h2>
<p>If you want to reach out to discuss or just to say hi, your best bet is to
  <a href="mailto:h@huguestennier.com">email me</a>. Otherwise, I’m sometime lurking around Twitter
  <a href="https://twitter.com/huguestennier" aria-label="Go to twitter profile, opens in a new window">@huguestennier</a>.
</p>
<p>Sorry, but I’m currently
  <strong>not</strong> looking for a job as amazing as it probably is.</p>
{{- end }}
